.app-wrap {
  height: 100vh; // 可视高度 view height
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 10px;
  background-color: $primary-color;
  height: 60px;
  flex-shrink: 0;
  border-bottom: 1px solid #fff59d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-size: 11px;
    color: $primary-color-text;
  }
  .button {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 4px;
  }
}


.content {
  background-color: #fafafa;
  overflow-y: scroll;
  flex-grow: 1;
  line-height: 1.8;
  padding: 16px;
}

.app-footer {
  height: 70px;
  background-color: $primary-color;
  flex-shrink: 0;
  border-top: 2px solid #212121;
  display: flex;
  a {
    padding: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    &:first-child {
      border-left: 0;
    }
    i {
      display: block;
      font-size: 20px;
      color: white;
      text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.sidebar {
  display: none;
  width: 250px;
  background-color: $primary-color;
  flex-shrink: 0;
  a.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
  }
  h1 {
    margin: 0;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-bottom: 2px solid #fff59d;
  }
  a {
    padding: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    i {
      color: #fff;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media (min-width: 800px) {
  .app-wrap {
    flex-direction: row;
  }
  .app-header, .app-footer {
    display: none;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}
